{% if product %}
<form method="POST" action="{% url 'purchases:start' %}"> {% csrf_token %}
    <input type="hidden" value="{{ product.handle }}" name="handle" />
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span style="font-size:2em" class="font-semibold">$</span>
        <span style="font-size:2em" class="font-extrabold tracking-tight">{{ product.display_price }}</span>
    </div>
    {% if not request.user.is_authenticated %}
    <a href="/login">Login now to purchase</a>
    {% else %}
    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buy Now</button>
    {% endif %}
</form>

{% endif %}